! vim: set foldmethod=marker:

! after configuring this file you must issue the
! following command at the terminal: $ xrdb .Xresources

! font to be used
URxvt.font: 	  <REGULAR_FONT>
URxvt.boldfont:   <BOLD_FONT>
URxvt.italicfont: <ITALIC_FONT>

!URxvt.letterSpace: -1

URxvt.scrollBar:   False
URxvt.cursorBlink: True
URxvt.dpi: 	       96
URxvt.antialias:   True
URxvt.rgba:	       rgb


!! Color
URxvt.foreground: green
URxvt.background: black
URxvt.cursorColor: red
